@use 'base.scss';
@use 'module.scss';
@use 'utilities.scss';


.nav-links-desktop {
    display: none;
}

@media (min-width: 1228px) {
    .nav-menu,
    .hamburger-menu {
        display: none;
    }

    .nav-links-desktop {
        display: flex;
    }
}