@use 'variables' as *;

.nav {
    background-color: $black-2;

	height: 60px;
}

.download-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 20px;

	background-color: $yellow;
	font-family: Helvetica, sans-serif;
	font-size: 9px;
	letter-spacing: normal;
	text-transform: uppercase;
}

.hamburger-menu {
	height: 100%;
	width: 50px;

	cursor: pointer;
}

.hamburger-menu__rectangle {
	height: 2px;
	width: 100%;
	position: absolute;

	fill: $light-gray;
	transition: 0.1s transform ease-in-out;
}

.hamburger-menu__rectangle:nth-of-type(1) {
	transform: translateY(23px);
}

.hamburger-menu__rectangle:nth-child(2) {
	transform: translateY(30px);

	transition: 0.1s opacity ease-in-out;
}

.hamburger-menu__rectangle:nth-of-type(3) {
	transform: translateY(37px);
}

.animate-hamburger-menu .hamburger-menu__rectangle:nth-of-type(1) {
	transform: translate(5px, 40px) rotate(-45deg);
}

.animate-hamburger-menu .hamburger-menu__rectangle:nth-child(2) {
	opacity: 0;
}

.animate-hamburger-menu .hamburger-menu__rectangle:nth-of-type(3) {
	transform: translate(5px, 17px) rotate(45deg);
}

.nav-menu {
	display: flex;
	flex-direction: column;
	height: calc(100% - 60px);
	width: 90%;
	position: fixed;
	right: 0;
	top: 60px;
	z-index: 2;

	background-color: $black-2;
	transform: translateX(1228px);
	transition: .2s transform ease-in-out;
}

.nav-menu--inner {
	top: 0;
	height: 100%;
	width: 100%;
}

.nav-menu__title {
	background-color: $black;
	color: $light-gray-2;
}

.nav-menu__title i {
	color: $light-gray-2;
	font-size: 18px;
}

.nav-menu-animate {
	transform: translateX(0);
}

.nav-menu__item {
	display: block;

	border-bottom: 1px solid $dark-gray;
}

.nav-menu__item i {
	font-size: 16px;
}

.nav-menu__form {
	min-height: 72px;

	background-color: $black-3;
}

.nav-menu__input {
	border: 1px solid $black-4;
	border-right: 0;
	border-radius: 2px;
	width: 75%;

	background-color: #393939;
	color: $gray;
}

.nav-menu__button {
	border-bottom: 1px solid #464646;
	border-top: 1px solid #464646;
	height: 39px;
	width: 15%;

	background-color: #393939;
}

.nav-menu__button:last-of-type {
	border-radius: 2px;
}

.nav-menu__sign-in {
	border-right: 1px solid $black-3;
	width: 70%;
}

.user-status {
	border: 2px solid $gray;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	position: absolute;
	bottom: 2px;
	left: 16px;

	background-color: $black-2;
}

.yellow-rectangle {
	height: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: $yellow;
	transition: height 0.2s ease-in-out;
}

.yellow-polygon {
	padding: 3px 24px 9.3px 24px;

	background-color: $yellow;
	clip-path: polygon(0% 16%, 100% 6%, 98% 100%, 2% 90%);
	color: #000000;
	line-height: 2;
}

.carousel__background-image {
	height: 100%;
	position: relative;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.carousel__background-image-1 {
	background-image: url(/assets/carousel/image-1-mobile.jpg)
}

.carousel__background-image-2 {
	background-image: url(/assets/carousel/image-2-mobile.jpg);
}

.carousel__season-logo {
	position: absolute;
	left: 30px;
	top: 30px
}

.carousel__cubed-logo {
	max-width: 600px;
	width: 60%;
}

.carousel__item-padding {
	padding: 50px 0 90px 0;
}

.articles-container {
	position: relative;
	z-index: 1;
	margin-top: -10px;
}

.article {
	display: block;
	position: relative;
	width: 100%;
	
	background-color: #f9f9f9;
	overflow: hidden;
}

.article__thumbnail {
    height: 40vh;
    width: 100%;
	position: relative;

    background-size: cover;
    background-repeat: no-repeat;
	overflow: hidden
}

.article--background-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
	transition: 0.3s transform ease-in-out;
}


.article--background-image:hover {
	transform: scale(1.05);
}

.nav-link-desktop:hover a,
.nav-link-desktop:hover div {
	color: #ffffff;
}

.nav-link-desktop:hover .yellow-rectangle,
.hover-rectangle:hover .yellow-rectangle {
	height: 5px;
}

.desktop-nav-search {
	opacity: 0;
	position: absolute;
	right: 0;
	width: 0;

	transition: opacity 0.3s ease-in-out,
		width 0.3s ease-in-out;
}

.desktop-nav-search--animate {
	width: 400px;
	opacity: 1;
}