@use 'variables' as *;

.nav {
    background-color: $black;

    height: 60px;
}

.download-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;

    background-color: $yellow;
    font-family: Helvetica, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
}

.hamburger-menu {
    height: 100%;
    width: 50px;

    cursor: pointer;
}

.hamburger-menu__rectangle {
    height: 2px;
    width: 100%;
    position: absolute;

    fill: $light-gray;
    transition: 0.1s transform ease-in-out;
}

.hamburger-menu__rectangle:nth-of-type(1) {
    transform: translateY(23px);
}

.hamburger-menu__rectangle:nth-child(2) {
    transform: translateY(30px);

    transition: 0.1s opacity ease-in-out;
}

.hamburger-menu__rectangle:nth-of-type(3) {
    transform: translateY(37px);
}

.animate-hamburger-menu .hamburger-menu__rectangle:nth-of-type(1) {
    transform: translate(5px, 40px) rotate(-45deg);
}

.animate-hamburger-menu .hamburger-menu__rectangle:nth-child(2) {
    opacity: 0;
}

.animate-hamburger-menu .hamburger-menu__rectangle:nth-of-type(3) {
    transform: translate(5px, 17px) rotate(45deg);
}
