@use 'variables' as *;

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1 1 auto;
}

.d-none {
    display: none;
}

.mx-3 {
    margin-left: $space-large;
    margin-right: $space-large;
}

.mr-2 {
    margin-right: $space-medium;
}

.ml-1 {
    margin-left: $space-small;
}

.ml-2 {
    margin-left: $space-medium;
}

.p-1 {
    padding-top: $space-small;
    padding-right: $space-small;
    padding-bottom: $space-small;
    padding-left: $space-small;
}

.py-1 {
    padding-top: $space-small;
    padding-bottom: $space-small;
}

.px-1 {
    padding-left: $space-small;
    padding-right: $space-small;
}

.px-2 {
    padding-left: $space-medium;
    padding-right: $space-medium;
}

.px-3 {
    padding-left: $space-large;
    padding-right: $space-large;
}

.pl-2 {
    padding-left: $space-medium;
}

.h-100 {
    height: 100%;
}

.text-small {
    font-size: 10px;
}

.text {
    font-size: 14px;
}

.text-medium {
    font-size: 16px;
}

.text-large {
    font-size: 21px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-gray {
    color: $gray;
}

.text-light-gray {
    color: $light-gray;
}

.position-relative {
    position: relative;
}

.bt-1-black-3 {
    border-top: 1px solid $black-3;
}

.cursor-pointer {
    cursor: pointer;
}

.rotate-90deg {
    transform: rotate(-90deg);
}

.w-10 {
    width: 10%;
}

.background-black-3-hover {
    transition: 0.3s background-color ease-in-out;
}

.background-black-3-hover:hover {
    background-color: $black-3;
}
