$black:#1d1d1d;
$black-2: #2a2a2a;
$black-3: #2f2f2f;
$black-4: #464646;
$yellow: #ff0;
$light-gray: #ccc;
$light-gray-2: #8e8e8e;
$gray: #e7e7e7;
$dark-gray: #333;
$light-blue: #1db8f3;

$space-small: 8px;
$space-medium: 16px;
$space-large: 24px;
$space-8: 64px
